@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Nunito", serif; 
}
:root{
  --heading-color: #C08552;
  --primary-color: #F3E9DC;
  --light-color: #FFF2E1;
  --font-color: #895737;
  --background-color: #DAB49D;
  --dark-color: #5E3023;
}